<!doctype html>
<html>
    <head>
        <title>{% block title %}Home{% endblock %} | IRC Logs</title>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css">
    </head>
    <body>
        <header class="row">
            <h1 class="small-12 columns">IRC Logs</h1>
        </header>
        {% block content %}{% endblock %}
        <footer class="row">
            <small class="small-12 columns text-center">&copy; 2014</small>
        </footer>
    </body>
</html>
